services:
  server:
    build:
      context: .
      dockerfile: server.Dockerfile
    container_name: minecraft-server
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=${NODE_ENV}
      - PORT=${PORT}
      - SALT=${SALT}
    env_file:
      - .env
    networks:
      - app-network

  client:
    build:
      context: .
      dockerfile: client.Dockerfile
    container_name: minecraft-client
    restart: unless-stopped
    ports:
      - "3000:80"
    depends_on:
      - server
    networks:
      - app-network

networks:
  app-network:
    driver: bridge