.friend-item {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #5A5A5A;
  border: 4px solid #2D2D2D;
  border-top-color: #FFFFFF;
  border-left-color: #FFFFFF;
  border-bottom-color: #3D3D3D;
  border-right-color: #3D3D3D;
  padding: 12px 15px;
  cursor: pointer;
  transition: all 0.05s linear;
  box-shadow: 3px 3px 0 #000;
  image-rendering: pixelated;
}